header {
    display: flex;
    justify-content: end;
}

/*Toggleknapp*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/*Ta bort checkbox rutan*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;

}


/*Bakgrunden till switch-knappen*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Cirkeln som rör sig till höger/vänster när man klickar på knappen*/
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/*ändrar färgen när checkboxen är aktiverad*/
input:checked+.slider {
    background-color: #3c5aa8;
    /* Grön färg för "på" */
}

input:checked+.slider:before {
    transform: translateX(26px);
    /* Flyttar cirkeln till höger */
}

.container {
    display: flex;
    justify-content: center;
}

section {
    height: 100vh;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    padding: 30px;
    background-color: red;
}

.cityA {
    background-color: aqua;
}

.cityB {
    background-color: bisque;
}

.infoCityA,
.infoCityB {
    dis
}